.cr-01-resident-dashboard,
.cr-01-resident-dashboard * {
  box-sizing: border-box;
}
.cr-01-resident-dashboard {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-5 {
  background: #ffffff;
  width: 907px;
  height: 56px;
  position: absolute;
  left: 315px;
  top: 646px;
}
.background {
  opacity: 0.7;
  width: 1440px;
  height: 1025px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1440/1025;
}
.header {
  background: #b3b3b3;
  opacity: 0.85;
  width: 1440px;
  height: 93px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.action-items {
  width: 356px;
  height: 66px;
  position: absolute;
  left: 1004px;
  top: 14px;
}
.image-1 {
  width: 109px;
  height: 66px;
  position: absolute;
  left: 132px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 109/66;
}
.Logout {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 253px;
  top: 19px;
  width: 127px;
  height: 47px;
}
.ellipse-1 {
  background: #757575;
  border-radius: 50%;
  width: 120px;
  height: 41px;
  position: absolute;
  left: 0px;
  top: 12.5px;
}
.logo {
  width: 205px;
  height: 105px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 205/105;
}
.resident-dashboard {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 426px;
  top: 20px;
  width: 501px;
  height: 66px;
}
.sidebar {
  background: #d9d9d9;
  opacity: 0.8;
  width: 244px;
  height: 931px;
  position: absolute;
  left: 0px;
  top: 93px;
}
.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 261px;
  position: absolute;
  left: 26px;
  top: 240px;
}
.dashboard {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 27px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.pay-rent {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.maintenance {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.my-lease {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 27px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.rectangle-1 {
  border-radius: 0px;
  opacity: 0.5;
  width: 166px;
  height: 46px;
  position: absolute;
  left: 20.5px;
  top: 232px;
  overflow: visible;
}
.frame-1 {
  background: #d9d9d9;
  opacity: 0.9;
  padding: 8px 164px 29px 20px;
  width: 320px;
  height: 170px;
  position: absolute;
  left: 302px;
  top: 167px;
}
.balance-due {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 8px;
}
._1-000 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 84px;
  top: 65px;
}
.details {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 49px;
  top: 117px;
}
.frame-2 {
  background: #d9d9d9;
  opacity: 0.9;
  padding: 8px 164px 29px 20px;
  width: 320px;
  height: 170px;
  position: absolute;
  left: 680px;
  top: 167px;
}
.next-due-date {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 8px;
}
._03-15 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 84px;
  top: 65px;
}
.frame-3 {
  background: #d9d9d9;
  opacity: 0.9;
  padding: 8px 164px 29px 20px;
  width: 320px;
  height: 170px;
  position: absolute;
  left: 1064px;
  top: 167px;
}
.lease-end-date {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 8px;
}
._05-31 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 84px;
  top: 65px;
}
.frame-12 {
  background: #ffffff;
  padding: 0px 259px 16px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 907px;
  height: 56px;
  position: absolute;
  left: 315px;
  top: 575px;
}
.frame-13 {
  background: #ffffff;
  padding: 0px 259px 16px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 907px;
  height: 56px;
  position: absolute;
  left: 315px;
  top: 503px;
}
.frame-14 {
  background: #ffffff;
  padding: 7px 259px 9px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 907px;
  height: 56px;
  position: absolute;
  left: 315px;
  top: 647px;
}
.frame-15 {
  background: #ffffff;
  padding: 8px 259px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 907px;
  height: 56px;
  position: absolute;
  left: 315px;
  top: 719px;
}
.frame-16 {
  background: #ffffff;
  padding: 1px 259px 15px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 907px;
  height: 56px;
  position: absolute;
  left: 315px;
  top: 792px;
}
.frame-17 {
  background: #ffffff;
  padding: 1px 259px 15px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 907px;
  height: 56px;
  position: absolute;
  left: 315px;
  top: 863px;
}
.maintenance2 {
  background: #d9d9d9;
  padding: 13px 406px 44px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 1082px;
  height: 548px;
  position: absolute;
  left: 287px;
  top: 400px;
}
.maintenance-tickets {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
}
.ticket-date-issue-status-priority {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 33px;
  font-weight: 400;
  position: relative;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 33px;
  font-weight: 400;
  position: relative;
}
